*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.nav-bar{
    height: 80px;
    width: 100%;
    background-color: blue;
    display: flex;
}
.nav-left{
    height: 100%;
    width: 45%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.logo{
    height: 36px;
    width: 53px;
    background-color: black;

}
.blank{
    height: 30px;
    width: 9px;
}
.nav-right{
    height: 100%;
    width: 55%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
    height: 40px;
    width: 41px;
    /* padding: 8px 0px 2px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-search{
    display: flex;
    background-color: #F5F5F6;
    border-radius: 5px;

}
 
.search-button{
    height: 40px;
    width: 325px;
}
#input{
    border: hidden;
}
.profile{
    height: 40px;
    width: 35.06px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wishlist{
    height: 40px;
    width: 35.06px;
}
.bag{
    height: 40px;
    width: 35.06px;
}
.blank1{
    height: 100%;
    width: 10%;

}
.icon-profile{
    text-align: center;
}
.icon-wishlist{
    text-align: center;
}
.icon-bag{
    text-align: center;
}
